body {
    margin: 0; /* Remove the default margin from the body */
  }
  
  .navbar {
    background-color: rgb(113, 210, 153);
    width: 100%;
    text-align: center;
  }
  
  .container-fluid {
    color: black;
    font-weight: bold;
    margin: 0 auto; /* Center the container horizontally */
    font-size: xx-large;
  }
  
  .text {
    text-align: center; /* Center the text */
    margin-top: 8%;
    font-weight: bold;
    font-size: x-large;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Adjust this value to position the buttons vertically on the screen */
}

.btn {
    border-radius: 25px; /* Adjust the value to control the roundness of the border */
    background-color: rgb(64, 136, 223);
    border: none;
    padding: 10px 20px;
    margin: 10px;
}

.btn a {
    text-decoration: none;
    color: white; /* Set the text color to white */
    font-weight: bold;
}

  
  .student_login_div {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the div horizontally */
  }

  .teacaher_login_div {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the div horizontally */
  }
  
  .student_login {
    padding: 60px 40px;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .student_login input {
    width: 300px;
  }

  .teacher_login {
    padding: 60px 40px;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .teacher_login input {
    width: 300px;
  }
  
  .teacher_table_div {
    margin: 10px 200px;
    padding: 60px 40px;
    border-radius: 10px;
  }
  
  .table {
    text-align: center;
  }
  
  .teacher_add_edit {
    border-width: 2px;
    padding: 60px 40px;
    border-radius: 10px;
    margin: 0 300px;
  }
  
  .student_table {
    border-width: 2px;
    padding: 60px 40px;
    border-radius: 10px;
    margin: 0 200px;
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  