<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title> Result Management Application </title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            Result Management System  
        </div>
    </nav>

    <a href="/" class="btn btn-info" style="margin-top:20px;">Back</a>

    <h2>Teacher Login</h2>

    <div class="teacaher_login_div">
        <form action="/teacher/dashboard" method="POST" class="teacher_login">

            <div class="mb-3">
                <label for="username" class="form-label"> Username : </label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password : </label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>

            <a><button type="submit" class="btn btn-primary"> Submit </button></a>

        </form>
    </div>
</body>    
</html>
